{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>iOS Projects List</title>

</head>
<body style="background:#eaeaef">
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='list.css')}}">
{% endblock %}

{% block content %}

    <div class="container text-center" style="margin:40px auto">
    <h1>iOS Projects List</h1>
</div>

<div class="container">

    <div class="row">
        {%for p in iosprojectlist%}
          <div class="col-xs-6 col-md-3" style="margin-top:60px">
              <div class="card">

                <img class="rounded mx-auto d-block text-center card-img img-circle" src="{{url_for('static',filename='Appicons/' + p[0]) + '.png'}}" alt="appicon"
                onerror="this.src='/static/Appicons/Neulion.png'"/>
                <a href="{{ url_for('iOSprojects.index', g=p[0])}}" class="btn btn-primary text-center text-uppercase">{{p[0]}}</a>
            </div>
        </div>
        {%endfor%}
    </div>


</div>

</body>

{% endblock %}